REDASH_SECRET_KEY=ea931394511b4553330cc88db7dfd51007adbd8fa74cad143c92bbb955d5bc0f
REDASH_COOKIE_SECRET=e549ebdf21049b9d73a65c5e5281b6e4d56bf61045fd406394de94326e1fa6f9
POSTGRES_PASSWORD=123456789
REDASH_DATABASE_URL=postgresql://postgres:123456789@postgres/postgres
REDASH_REDIS_URL=redis://redis:6379/0

GOOGLE_CLIENT_ID=

PYTHONUNBUFFERED=0

REDASH_LOG_LEVEL=INFO
REDASH_RATELIMIT_ENABLED=false
REDASH_MAIL_DEFAULT_SENDER=redash@example.com
REDASH_MAIL_SERVER=email
REDASH_ENFORCE_CSRF=true

SET_CONTAINER_TIMEZONE=true
CONTAINER_TIMEZONE=America/Santiago
TZ=America/Santiago

# ADDITIONAL_QUERY_RUNNERS
REDASH_ADDITIONAL_QUERY_RUNNERS=redash.query_runner.dremio